<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Javascript Game</title>
        <meta charset="UTF-8" />
        <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
        <link
            rel="icon"
            href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA="
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style/style.css') }}"
        />
        <script
            src="{{ url_for('static', filename='script/APIs.js') }}"
            defer
        ></script>
        <script
            src="{{ url_for('static', filename='script/navigation.js') }}"
            defer
        ></script>
        <script
            src="{{ url_for('static',filename='script/game.js') }}"
            defer
        ></script>
    </head>
    <body>
        <div id="overlap_div"></div>
        <header>
            <nav class="navigation-bar">
                <div id="navigation_bar" class="navigation-main-div">
                    <a
                        class="navigation-button"
                        href="{{ url_for('main_page') }}"
                    >
                        Restart
                    </a>
                    <a id="overlap-highscore" class="navigation-button">
                        Highscore
                    </a>
                </div>
            </nav>
        </header>
        <h1 class="tit">Snake</h1>
        <canvas
            class="game-screen"
            id="game-screen"
            width="800"
            height="800"
        ></canvas>
    </body>
</html>
