 <!DOCTYPE html>
<html lang="en">
<head>
    <title>Javascript Game</title>
    <meta charset="UTF-8">
    <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <link rel="stylesheet" href="/static/style/style.css">
    <script src="/static/script/navigation.js"></script>
</head>
<body>
    <div id="overlap_div" onload="hideOverlapContent()" onclick="hideOverlapContent()"></div>
    <header>
        {% include 'navigation_bar.html' %}
    </header>
    <h1 class="tit">Snake</h1>
    <canvas class="game-screen" id="game-screen" width="400" height="400"></canvas>
    <script type="module" src="{{ url_for('static',filename='script/game.js') }}"></script>
</body>
</html>
