<script type="module" src="{{ url_for('static',filename='script/navigation.js') }}"></script>
<script type="module" src="{{ url_for('static',filename='script/game.js') }}"></script>
<nav class="navigation-bar">
    <div class="navigation-main-div">
        {% if not username %}
            <a class="navigation-button login-button">
                Login
            </a>
        {% else %}
            <a class="navigation-button login-button">
                {{ username }}
            </a>
        {% endif %}


        <a class="navigation-button" href="{{ url_for('highscore_page') }}">
            Home
        </a>
        <a class="navigation-button" onclick="">
            insert highscore
        </a>
        <a class="navigation-button" onclick="ovelapHighscore()">
            Home
        </a>

    </div>
</nav>